<div class="container">

    <h2> Registrate! </h2>
    <br>
    <p class="text-secondary">  Fields with * are required </p><br>

    <form [formGroup]="miform" (ngSubmit)="submit()">
        <fieldset>

        <!-- ------------------------- Username --------------------------- -->
            <div class="form-group">
                <label for="" class="form-label mt-4"> *Username: </label>
                <div>
                    <input class="style-input" placeholder="Enter Username" type="text" formControlName="username" appNomProhibido>
                    <span class="invalid-input" *ngIf="this.miform.get('username')?.errors?.['required'] && 
                                 this.miform.get('username')?.dirty">
                        Username cannot be empty.
                    </span>
                    <span  class="invalid-input" *ngIf="this.miform.get('username')?.errors?.['minlength']&& 
                                    this.miform.get('username')?.touched">
                        Username cannot be less than 6 letters.
                    </span>
                    <span class="invalid-input"  *ngIf="this.miform.get('username')?.errors?.['pattern'] && 
                            this.miform.get('username')?.touched">
                        Username only allows letters and numbers.
                    </span>
                    <span class="invalid-input"  *ngIf="this.miform.get('username')?.errors?.['validate'] && 
                            this.miform.get('username')?.touched">
                        Username is prohibited. 
                    </span>
                </div>
            </div>
        <!-- ------------------------- Password --------------------------- -->

        <div class="form-group">
            <label for="" class="form-label mt-4"> *Password: </label>
            <div>
                <input class="style-input" placeholder="Password" type="text" formControlName="pass" appMayusculas>
                <span class="invalid-input" *ngIf="this.miform.get('pass')?.errors?.['required'] && 
                             this.miform.get('pass')?.touched">
                    Password cannot be empty.
                </span>
                <span class="invalid-input" *ngIf="this.miform.get('pass')?.errors?.['minlength'] && 
                             this.miform.get('pass')?.touched">
                    The password cannot be less than 8 characters.  
                </span>
                <span  class="invalid-input" *ngIf="this.miform.get('pass')?.errors?.['pattern'] && 
                        this.miform.get('pass')?.touched">
                    Password only allows letters and numbers.
                </span>
                <span  class="invalid-input" *ngIf="this.miform.get('pass')?.errors?.['mayusculas'] && 
                        this.miform.get('pass')?.touched">
                    The password must have at least one uppercase vowel.
                </span>
            </div>
        </div>

        <!-- ------------------------- Confirm Password --------------------------- -->
        <div class="form-group">
            <label for="" class="form-label mt-4"> *Confirm Password: </label>
            <div>
                <input class="style-input" placeholder="Confirm Password"  type="text" formControlName="confirm_pass" 
                appRepitePass [parametro]="this.miform.value.pass" >
                <span class="invalid-input"  *ngIf="this.miform.get('confirm_pass')?.errors?.['required'] && 
                             this.miform.get('confirm_pass')?.touched">
                    Confirm password cannot be empty.
                </span>
                <span class="invalid-input"  *ngIf="this.miform.get('confirm_pass')?.errors?.['repitePass'] && 
                             this.miform.get('confirm_pass')?.touched">
                    Password does not match.
                </span>
            </div>
        </div>

        <!-- ------------------------- Email --------------------------- -->
        <div class="form-group">
            <label for="" class="form-label mt-4"> *Email: </label>
            <div>
                <input class="style-input" placeholder="Email" type="text" formControlName="email" appNotNumeros>
                <span class="invalid-input" *ngIf="this.miform.get('email')?.errors?.['required'] && 
                            this.miform.get('email')?.touched">
                    Email cannot be empty
                </span>
               
                <span class="invalid-input"  *ngIf="this.miform.get('email')?.errors?.['pattern'] && 
                        this.miform.get('email')?.touched">
                    The email is not in the correct format
                </span>
                <span class="invalid-input"  *ngIf="this.miform.get('email')?.errors?.['numeros'] && 
                        this.miform.get('email')?.touched">
                    Mail cannot start with numbers.
                </span>
            </div>
        </div>

        <!-- ------------------------- Civil Status --------------------------- -->
        <div class="form-group">
            <label for="" class="form-label mt-4"> *Civil Status: </label>
            <div>
                <select class="form-select" id="estadoC" formControlName="civilStatus">
                    <option *ngFor="let s of statuses" selected > {{s}} </option>
                </select>
    
                <span class="invalid-input" *ngIf="this.miform.get('civilStatus')?.errors?.['required'] &&
                        this.miform.get('civilStatus')?.touched">
                    Select your marital status.
                </span>
            </div>
        </div> 

        <!-- ------------------------- Gender --------------------------- -->
        <div class="form-group">
            <label for="" class="form-label mt-4"> *Gender: </label>
            <div class="form-check" *ngFor="let gender of genders">
                <label class="form-check-label" for="{{gender}}"> {{gender}} </label>
                <input class="form-check-input" type="radio" id="{{gender}}" value="{{gender}}" formControlName="gender">
            </div>
            <span class="invalid-input" *ngIf="this.miform.get('gender')?.errors?.['required'] && 
                    this.miform.get('gender')?.untouched" >
                Campo obligatorio*
            </span>
        </div>        
        
        <!-- ------------------------- Information of interest --------------------------- -->
        <div class="form-group">
            <label for="" class="form-label mt-4"> Information of interest: </label>
            <div class="form-check" *ngFor="let i of informations">
                <input class="form-check-input" type="checkbox" formControlName="info" value="{{i}}" >
                <label class="form-check-label" > {{i}}</label>
            </div>
        </div>

        <!-- ------------------------- Accept Conditions --------------------------- -->
        <div class="form-group">
            <label for="" class="form-label mt-4"> *Accept Conditions : </label>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" formControlName="acceptConditions">
                <span class="invalid-input"  *ngIf="this.miform.get('acceptConditions')?.errors?.['requiredTrue'] && 
                    this.miform.get('acceptConditions')?.untouched">
                    Accept the conditions.
                </span>
            </div><br>
        </div>

        <!-- ------------------------- Button --------------------------- -->

        <button id="b" class="btn btn-outline-light" type="submit" [disabled]="miform.invalid"> Sign up!!!</button>
    </fieldset><br>

    <div class="card border-secondary ms-5" style="max-width: 20rem;">
        <div class="card">
        <h4 class="card-title"> {{response}} </h4>
            <div *ngFor="let i of datos">
                {{i}}          
            </div>
        </div>
    </div>

    </form>
</div>



