<div class="container">
    <h2> Login </h2>
    <br>
    <form [formGroup]="miformlogin" (ngSubmit)="submit()">
        <p> Username: 
            <input type="text" formControlName="username" >
            <span  *ngIf="this.miformlogin.get('username')?.errors?.['required'] && 
                         this.miformlogin.get('username')?.touched">
                El nombre de usuario no puede estar vacío.
            </span>
            <span   *ngIf="this.miformlogin.get('username')?.errors?.['minlength']&& 
                            this.miformlogin.get('username')?.touched">
                El nombre de usuario no puede tener menos de 6 letras.
            </span>
            <span   *ngIf="this.miformlogin.get('username')?.errors?.['pattern'] && 
                    this.miformlogin.get('username')?.touched">
                El nombre de usuario solo puede tener letras.
            </span>
        </p>

        <p> Password:
            <input type="password" formControlName="pass">
            <span  *ngIf="this.miformlogin.get('pass')?.errors?.['required'] && 
                         this.miformlogin.get('pass')?.touched">
                Password no puede estar vacío.
            </span>
            <span  *ngIf="this.miformlogin.get('pass')?.errors?.['minlength'] && 
                         this.miformlogin.get('pass')?.touched">
                La contraseña no puede tener menos de 8 caracteres.
            </span>
            <span   *ngIf="this.miformlogin.get('pass')?.errors?.['pattern'] && 
                    this.miformlogin.get('pass')?.touched">
                La contraseña solo permite letras y números.
            </span>
        </p>

        <button type="submit" [disabled]="miformlogin.invalid">Clica!!!</button>
    </form>

    <div>
        {{datos}}
    </div>

</div>